<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="qr-code-generator-main-page">
        <div class="qr-code-genereted-img-container">
            <img src="./qrcode(1).png" alt="QR Code" class="qr-code-img">
            <h1>QR Code Generator</h1>
        </div>
        <div class="qr-code-read-generate-links">
            <a href="./generateCode.html">Generate QR Code</a>
            <a href="./readCode.html">Read QR Code</a>
        </div>
    </div>
</body>
</html>